<template>
  <label  class="base-inputs" :class="{ error: required && !value }">
    <span v-if="title">{{ title }}</span>
    <!-- slot with input component -->
    <slot></slot>
  </label>
</template>
<script>
export default {
  name: 'BaseInputWrapper',
  props: {
    required: {
      default: false,
      type: Boolean
    },
    title: {
      default: undefined,
      required: false
    },
    value: {
      required: false,
    }
  }
}
</script>
<style>
/* These styles should NOT be scoped*/
/*label.error > input {*/
/*    outline: none;*/
/*  border: 1px solid red;*/
/*}*/
label.base-inputs > span {
  display: block;
  margin: 10px 0;
  font-weight: 600;
}
label.base-inputs > input,
label.base-inputs > textarea {
  outline: none;
  padding: 10px 6px;
  border: 1px solid #E69196;
  display: block;
  width: 80%;
}
label.base-inputs > input:focus,
label.base-inputs > textarea:focus {
  outline: none;
  border: 1px solid #70308B;
}
</style>