<template>
  <router-link :to="link ? link : defaultLink">
    <product-card-base :product="product">
      <section>
        <img height="190" width="230" :alt="product.title" :src="product.imgs[0]"/>
        <div class="description">
          <p>{{ product.description }}</p>
          <p>{{  product.location }}</p>
          <p>{{ product.time }}</p>
        </div>
      </section>
    </product-card-base>
  </router-link>
</template>
<script>
import ProductCardBase from '@/components/product/base/ProductCardBase'
export default {
  name: 'ProductCardSmall',
  components: { ProductCardBase },
  computed: {
    defaultLink() {
      return { name: 'product', params: { id: this.product.id } }
    }
  },
  props: {
    product: {
      required: true
    },
    link: {
      default: false
    }
  }
}
</script>
<style scoped>
section {
  display: grid;
  grid-template-columns: 230px auto;
  grid-column-gap: 25px;
}
.description {
  font-size: 18px;
}
</style>