<template>
  <div
    class="preview"
    v-for="preview in previews"
    :key="preview.name"
    :style="{ 'background-image': `url(${ preview.value })`}"
    @click.prevent="$emit('remove', preview.name)"
  >
    <div>
      <img alt="cross icon" src="@/assets/cross.svg"/>
    </div>
  </div>
</template>
<script>

export default {
  name: 'BasePreviewImages',
  props: {
    previews: {
      required: true,
      type: Array
    },
  },
}
</script>
<style scoped>
.preview {
  margin: 10px;
  opacity: 0.8;
  width: 120px;
  height: 120px;
  display: inline-block;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
}
.preview > div {
  opacity: 0.4;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  display: inline-block;
  align-items: center;
}
.preview > div:hover {
  opacity: 0.6;
}
.preview > div > img {
  margin: 10px;
}
</style>
