<template>
  <base-input-wrapper class="base-textarea" :value="value" :required="required" :title="title">
    <textarea :value="value" @input="(event) => $emit('update:value', event.target.value)" />
  </base-input-wrapper>
</template>
<script>
import BaseInputWrapper from '@/components/inputs/base/BaseInputWrapper'
export default {
  name: 'BaseTextarea',
  components: { BaseInputWrapper },
  props: {
    value: {
      required: true,
      type: String
    },
    title: {
      required: false,
      default: undefined,
    },
    required: {
      default: false,
      type: Boolean
    },
  },
  emits: ['update:value']
}
</script>
