<template>
  <div class="app">
    <header>
      <nav>
        <div>{{ location }}</div>
        <div><router-link :to="{ name: 'user-edit', params: { id: userId } }">Home</router-link></div>
      </nav>
      <router-link :to="{ name: 'search' }"><h1>{{ header }}</h1></router-link>
    </header>
    <main>
      <router-view/>
    </main>
    <footer>
    </footer>
  </div>
</template>

<script>
import { RouterView, RouterLink } from 'vue-router'
import { mapState } from 'vuex'

export default {
  name: 'App',
  components: {
    RouterView, RouterLink
  },
  computed: {
    ...mapState(['userId']),
    header() {
      return `Ovito${(this.$route.path.startsWith('/user/') ? '. Profile' : '')}`
    }
  },
  data: () => ({
    location: 'Kazan',
  })
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
/* reset css https://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  width: 100%;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
/* header styles */
nav {
  background-image: linear-gradient(to right, #E69196, #70308B);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
h1 {
  background-image: linear-gradient(to right, #70308B, #E69196);
  color: white;
  font-size: 100px;
  padding: 20px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.25);
}
main {
  min-height: calc(100vh - 100px - 40px - 20px - 18px);
  background-color: #F7E1F2;
}
</style>
