<template>
  <article>
    <h2>The list of categories</h2>
    <ul>
      <li class='cat-card' v-for="cat in selectedCats" :key="cat.id">
        <span v-if="activeCat !== cat.id" class="cat-card__label" @click="updateActiveCat(cat.id)">{{ cat.label }}</span>
        <div v-else class="inline-form">
          <base-input v-model:value="editCat.label" :required="true" width="30vw"/>
          <base-button @click="deleteActiveCat">Delete</base-button>
          <base-button @click="patchActiveCat">Save</base-button>
        </div>
      </li>
    </ul>
    <div v-if="activeCat === -1" class="inline-form">
      <base-input v-model:value="editCat.label" :required="true" width="30vw"/>
      <base-button @click="createNewCat">Save</base-button>
    </div>
    <hr/>
    <base-button @click="updateActiveCat(-1)">New Category</base-button>
  </article>
</template>
<script>
import { mapState } from 'vuex'
import BaseInput from '@/components/inputs/BaseInput'
import BaseButton from '@/components/inputs/BaseButton'

export default {
  name: 'EditCats',
  components: { BaseButton, BaseInput },
  computed: {
    ...mapState(['cats']),
  },
  data: () => ({
    activeCat: -2,
    editCat: {
      id: -1,
      label: ''
    },
    selectedCats: []
  }),
  mounted() {
    // temporary, while no back
    this.selectedCats = [...this.cats]
  },
  methods: {
    reset() {
      this.activeCat = -2
      this.editCat = {
        id: -1,
        label: ''
      }
      this.$forceUpdate()
    },
    updateActiveCat(id) {
      this.activeCat = id
      const targetCat = this.selectedCats.find(c => c.id === id)
      // not new cat
      if (targetCat)
        this.editCat = {...targetCat}
    },
    deleteActiveCat() {
      // delete request to the backend
      // new GET CATS request to the backend
      this.selectedCats = this.selectedCats.filter(c => c.id !== this.editCat.id)
      this.reset()
    },
    patchActiveCat() {
      // patch/put request to the backend
      let targetCat = this.selectedCats.find(c => c.id === this.editCat.id)
      targetCat.label = this.editCat.label
      this.reset()
    },
    createNewCat() {
      // post request to the backend
      this.editCat.id = this.selectedCats.map(c => c.id).reduce((p, acc) => p > acc ? p : acc, 0) + 1
      this.selectedCats = [...this.selectedCats, {...this.editCat}]
      this.reset()
    }
  }
}
</script>
<style scoped>
h2 {
  font-size: 24px;
  font-weight: 600;
}
article {
  padding: 10px;
}
ul {
  list-style: none;
}
li.cat-card {
  display: block;
  cursor: pointer;
}
.cat-card__label {
  display: inline-block;
  padding: 10px
}
.inline-form {
  display: flex;
}
.inline-form > *{
  margin-right: 10px;
}
</style>