<template>
  <product-card-small
    v-for="product in products"
    :key="product.id"
    :product="product"/>
</template>
<script>
import ProductCardSmall from '@/components/product/ProductCardSmall'
import { mapState } from 'vuex'

export default {
  name: 'FavouriteProducts',
  components: { ProductCardSmall },
  computed: {
    ...mapState(['products']) // TODO: change to api
  },
}
</script>