<template>
  <div>
    <product-card-small
      v-for="product in products"
      :key="product.id"
      :product="product"
      :link="{ name: 'user-product',  params: { productId: product.id } }"/>
  </div>
</template>
<script>
import ProductCardSmall from '@/components/product/ProductCardSmall'
import { mapState } from 'vuex'

export default {
  name: 'ListProducts',
  components: { ProductCardSmall },
  computed: {
    ...mapState(['products']) // TODO: change to api
  },
}
</script>