<template>
  <div class="product-form">
    <!-- * Load title - input -->
    <base-input v-model:value="title" title="Title" :required="true"/>
    <!-- * Load description - textarea -->
    <base-textarea v-model:value="description" title="Description" :required="true"/>
    <!-- * Load images - files -->
    <base-load-images
      title="Images"
      :value="newImages"
      :required="false"
      @add="(img) => newImages = [...newImages, img]"
      @remove="(img) => newImages = newImages.filter(x => x.name !== img)"
    >
      <base-preview-images
        :previews="oldImages.map(img => ({name: img, value: img}))"
        @remove="img => oldImages = oldImages.filter(i => i !== img)"
      />
    </base-load-images>

    <div class="flex-row">
      <!-- * Set price - number -->
      <base-number v-model:value="price" title="Price (₽)" :required="true"/>
      <!-- * Set cats - select -->
      <base-select
        title="Category"
        width="20vw"
        :value="cat"
        :required="true"
        :options="cats"
        @select="(v) => cat = v"
      />
    </div>

    <div class="buttons">
      <base-button>Save</base-button>
    </div>
  </div>
</template>
<script>
import BaseButton from '@/components/inputs/BaseButton'
import BaseInput from '@/components/inputs/BaseInput'
import BaseTextarea from '@/components/inputs/BaseTextarea'
import BaseNumber from '@/components/inputs/BaseNumber'
import BaseLoadImages from '@/components/inputs/images/BaseLoadImages'
import BaseSelect from '@/components/inputs/BaseSelect'
import { mapState } from 'vuex'
import BasePreviewImages from '@/components/inputs/images/BasePreviewImages'

export default {
  name: 'ProductForm',
  components: { BasePreviewImages, BaseSelect, BaseLoadImages, BaseNumber, BaseTextarea, BaseInput, BaseButton },
  computed: {
    ...mapState(['cats', 'products']),
    productId() {
      return Number(this.$route.params.productId) || -1
    }
  },
  mounted () {
    // change 'data'
    // todo: change to api
    const targetProduct = this.products.find(p => p.id === this.productId)
    if (targetProduct) {
      this.title = targetProduct.title
      this.description = targetProduct.description
      this.oldImages = targetProduct.imgs
      this.price = targetProduct.price
    }
    // else - create form
  },
  data: () => ({
    title: '',
    description: '',
    newImages: [],
    oldImages: [],
    price: 1000,
    cat: -1,
  }),
}
</script>
<style scoped>
.product-form {
  padding: 10px;
}
.buttons {
  margin-top: 10px;
}
.flex-row {
  display: flex;
}
</style>