<template>
  <div class="product-page">
    <product-card-big v-if="product.id" :product="product"/>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import ProductCardBig from '@/components/product/ProductCardBig'

export default {
  name: 'ProductPage',
  components: { ProductCardBig },
  computed: {
    productId() {
      return +this.$route.params.id
    },
    ...mapState(['products'])
  },
  data: () => ({
    product: {}
  }),
  mounted() {
    this.product = this.products.find(p => p.id === this.productId) || {}
  }
}
</script>
