<template>
  <div>
    <div class="search">
      <base-select width="15vw" :value="filter.cat" @select="v => filter.cat = v" :options="cats"/>
      <base-input width="50vw" v-model:value="filter.query"/>
      <base-button @click="search" :style="{'min-width': 'calc(15vw - 26px)'}">Search</base-button>
    </div>

    <product-card-small
      v-for="product in products"
      :key="product.id"
      :product="product"/>
  </div>
</template>
<script>
import ProductCardSmall from '@/components/product/ProductCardSmall'
import { mapState } from 'vuex'
import BaseSelect from '@/components/inputs/BaseSelect'
import BaseInput from '@/components/inputs/BaseInput'
import BaseButton from '@/components/inputs/BaseButton'
export default {
  name: 'SearchPage',
  components: { BaseButton, BaseInput, BaseSelect, ProductCardSmall },
  data: () => ({
    position: 'Location',
    filter: {
      cat: -1,
      query: ''
    }
  }),
  computed: {
    ...mapState(['products', 'cats'])
  },
  methods: {
    search() {
      console.log('...making a query', this.filter)
    }
  }
}
</script>
<style scoped>
.search {
  width: calc(80% - 26px);
  display: flex;
  padding-top: 10px;
  margin: 0 10% 10px;
}
</style>
