<template>
  <div>
    <nav>
      <router-link :to="{ name: 'user-edit' }">Edit My Products</router-link>
      <router-link :to="{ name: 'user-create' }">Create Product</router-link>
      <router-link :to="{ name: 'user-liked' }">Favourites</router-link>
      <router-link :to="{ name: 'user-cats' }">Edit Categories</router-link>
    </nav>
    <router-view/>
  </div>
</template>
<script>
export default {
  name: 'UserPage',
  computed: {
    userId() {
      return this.$route.params.id
    }
  }
}
</script>
<style scoped>
nav {
  font-weight: 400;
}
nav .router-link-active,
nav .router-link-exact-active {
 font-weight: 600;
}
</style>
